/* 属性重置 */
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin:0 ;padding:0; }
body { background:#fff ; color:#000; font-size:12px; font-style:normal; font-family:"Microsoft Yahei"; }
p{line-height:1.6}
h1,h2,h3{line-height:2}
em, b, i { font-style:normal;}
img { border:none;}
a { text-decoration:none; color:#000;}
a:hover { text-decoration:underline; color:#cc0000;}
li { list-style:none;}
table { border-spacing:0; border-collapse:collapse;}
.bg-grey{background-color:#f0f2f4 }
.flt{float: left;}
.frt{float: right;}
.pl-10{padding-left: 10px;}
.text-red{color: #cc0000;}
/*清除浮动*/
    .clearfix { *zoom: 1;} 
    .clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
    .clearfix:after { clear: both;}
/*the end*/

/* header */
.top{height: 3px;background-color: #cc0000;}
.header{width: 1200px;margin: 0 auto;}
.logo{float: left;width: 110px;height: 80px;background:url(images/logo.png);}
.nav{float: right;padding-right: 20px;}
.nav a{float: left;padding: 0 20px;height: 80px;font-size: 16px;line-height: 80px;margin: 0 10px;}
.nav a:hover{color: #fff; background-color: #cc0000;font-weight: bold;text-decoration: none;}

/* focusbox */
.focusbox{height: 490px; position: relative;overflow: hidden;}
.focusbox a{display: block;}
.focusbox a *{position: absolute;}
.focusbox a h2{font-weight: normal;font-size: 20px;text-align: center;height: 40px;width: 100%; margin: auto;top: 200px;color: #fff;}

.focusbox .hd{position: absolute;left: 0;right: 0;bottom: 18px; text-align: center}
.focusbox .hd li{width: 12px;height: 12px;display: inline-block;background-color: #fff;border-radius: 50%;cursor: pointer;margin: 0 12px;}
.focusbox .hd li:hover{background-color: red;}
.focusbox .hd .on{background-color: red;}

.service-tab{width: 1000px; margin: 0 auto;}
.service-tab .sub-tit{font-size: 18px;line-height: 1;margin-top: 30px;text-align: center;color: #cc0000}
.service-tab .tit{text-align: center;line-height: 1;margin-top: 16px;font-size: 30px;font-weight: bold;color: #3d3d3d}

.service-tab-list{margin-top: 35px;margin-left: -100px;}
.service-tab-list a{float: left;width: 450px;margin-bottom: 23px;margin-left: 100px;}
.service-tab-list .pic{width: 100px;height: 100px;float: left;}
.service-tab-list .pic1-icon{background: url(images/big-icon.png) 0 -100px no-repeat;}
.service-tab-list .pic2-icon{background: url(images/big-icon.png) -100px -100px no-repeat;}
.service-tab-list .pic3-icon{background: url(images/big-icon.png) -200px -100px no-repeat;}
.service-tab-list .pic4-icon{background: url(images/big-icon.png) -300px -100px no-repeat;}
.service-tab-list a:hover .pic1-icon{background: url(images/big-icon.png)  no-repeat;}
.service-tab-list a:hover .pic2-icon{background: url(images/big-icon.png) -100px 0 no-repeat;}
.service-tab-list a:hover .pic3-icon{background: url(images/big-icon.png) -200px 0 no-repeat;}
.service-tab-list a:hover .pic4-icon{background: url(images/big-icon.png) -300px 0 no-repeat;}
.service-tab-list a:hover{text-decoration: none;}
.service-tab-list .info{padding-top: 15px ;padding-left: 120px;line-height: 2}
.service-tab-list .info .info-title{font-size: 16px;}

/* project-tab */
.project-tab{width: 1000px;margin:3px auto 0 auto;overflow: hidden;}
.project-tab h1{margin-top: 24px;font-size: 30px;line-height: 1;text-align: center;font-weight: normal;}
.project-tab-menu{margin-top: 30px;line-height: 1;font-size: 14px; color: #595959;text-align: center;}
.project-tab-menu a{color: #595959;text-decoration: none;}
.project-tab-menu span{margin: 0 8px;}
/* project-tab-scroll */
.project-tab-scroll {margin-top: 40px;}
.project-tab-scroll .bd{margin-left: -17px;}
.project-tab-scroll li{float: left;margin-left: 17px;width: 237px;}
/**
提示:
当一个元素被设置float为left的时候默认就是display:bloack;

a标签默认是行内元素.按照规范,块元素里面包含快元素或行内元素,行内元素不能包含块元素.所以把a标签转成块元素.
*/
.project-tab-scroll li a{display: block;color: #1c1c1c;font-size: 14px;text-align: center;text-decoration: none;}
.project-tab-scroll li .tit{margin-top: 12px;line-height: 20px;height: 47px;}
.project-tab-scroll .button{width: 64px;height: 21px; margin: 0 auto;}
.project-tab-scroll .button a{width: 21px;height: 21px;float: left;}
.project-tab-scroll .button .prev{margin-right: 22px;background: url(images/button.png) no-repeat;}
.project-tab-scroll .button .next{background: url(images/button.png) -21px 0 no-repeat;}

/* news-tab */
.news-tab{width: 1000px;margin: 65px auto 0 auto; padding-bottom: 52px;}
.news-tab-main{float: left;padding-right: 58px;width: 255}
.news-tab-main .title h2{float: left;font-size: 24px;font-weight: normal;line-height: 1;}
.news-tab-main .title >a{float: left;font-size: 14px;color: #686868;text-decoration: none;line-height: 1;margin-top: 8px;margin-left: 8px;} 
.news-tab-main li{margin-top: 26px;}
.news-tab-main li a{display: block;line-height: 22px;text-decoration: none;}
.news-tab-main li a:hover{color: #000;}
.news-tab-main li h4{font-size: 14px;}
.news-tab-main li p{color: #666;}
.news-tab-sidebar{float: left;padding-left: 42px;border-left: 1px solid #ababab;margin-top: 50px;height: 175px;}
.news-tab-sidebar p{line-height: 2;}
.news-tab-sidebar p:first-child{margin-top: -6px;}
.news-tab-sidebar h1{font-size: 24px;line-height: 2;font-weight: normal;}
.news-tab-sidebar h1 b{font-weight: normal;color: #cc0000;}
.news-tab-sidebar .button{display: block; width: 79px;height: 43px;line-height: 43px;font-size: 16px;color: #fff;padding-left: 44px;text-decoration: none;border-radius: 3px;background: url(images/small-icon.png) 13px 11px no-repeat;background-color: #69ba07;margin-top: 20px;text-shadow: 2px 2px 0 3px rgba(12,2,3,.29);}

/* footer */
.footer-warp{height: 213px;background-color: #222;}
.footer{width: 1000px;margin: 0 auto;}
.footer-menu{width: 180px;float: left;padding-top: 23px;}
.footer-logo{float: left;width: 103px;height: 38px;background: url(images/footer-logo.png) no-repeat; margin: 80px 105px auto 59px;}
.footer-menu a{display: block;color: #c8c8c8;font-size: 12px;text-decoration: none;line-height: 2;}
.footer-menu a b{line-height: 3;font-size: 16px; color: #fff;}
.footer-menu a .text-red{color: #cc0000;}
.footer-menu a i{width: 16px;height: 16px;display: inline-block;vertical-align: -3px;margin-right: 5px;}
.footer-menu a .footer-icon-1{background: url(images/footer-icon.png) no-repeat;}
.footer-menu a .footer-icon-2{background: url(images/footer-icon.png) -16px 0 no-repeat;}
.footer-menu a .footer-icon-3{background: url(images/footer-icon.png) -32px 0 no-repeat;}
.footer-menu a .footer-icon-4{background: url(images/footer-icon.png) -48px 0 no-repeat;}
.copyright{text-align: center;line-height: 44px;color: #fff;background-color: #101010}
